.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url('../../assets/10882161.jpg'); /* Updated path */
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
}

.slightly-lighter {
    font-weight: 400; /* Adjust this value to achieve the desired lightness */
}