<div class = "card shadow text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <button class="btn btn-primary" (click) = "OpenProjectModal()">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class = "tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div> 
                <!-- data binding in angular-->
            </div>
        </div>
    </div>
</div>


