<nav class="navbar-expand-md border-bottom mb-3">   
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav items">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav items">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
            </li>
            <li class="nav items">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav items">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
            </li>
        </ul>
    </div>
</nav>
