<nav class="navbar-expand-md border-bottom mb-3">   
    <div class="container">
        <div class="nav nav-tabs justify-content-center">
            <div class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
            </div>
        </div>
    </div>
</nav>
