<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary">Download Resume</button>
    <br><br>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <h3 class="job-title">Data Scientist</h3>
                <h5 class="company">Micron Technology Singapore</h5>
                <h5 class="date">Jan 2022 - Present</h5>
                <p class="job-description">• Designed and implemented an end-to-end interpretable machine learning pipeline for an international assignment,
                    successfully identifying root causes of deviation in run time and achieving an approximate 10% reduction, thus
                    significantly enhancing manufacturing capabilities</p>
                <p class="job-description">• Collaborated closely with subject matter experts to develop an energy efficiency prediction model, significantly
                    contributing to cost reduction initiatives</p>
                <p class="job-description">• Built interactive web interfaces with Angular to create real-time monitoring of manufacturing processes and conduct
                    periodic performance evaluations, with a primary focus on detecting bottlenecks and inefficiencies across different
                    workstations and tools</p>
                <p class="job-description">• Conducted an in-depth project centered around the analysis of expendables within the manufacturing process. Leveraged
                    a combination of causal inference techniques and time series studies to derive the optimal parameter ranges for these
                    expendable materials. Additionally, the project entailed a comprehensive examination of their degradation trends,
                    enabling the identification of precise intervention points for timely replacements, thereby enhancing operational
                    efficiency and cost-effectiveness</p>

                <br><br><br><br>

                <h3 class="job-title">Data Science Consultant</h3>
                <h5 class="company">KPMG Singapore</h5>
                <h5 class="date">Feb 2021 - Dec 2021</h5>
                <p class="job-description">• Initiated and executed data processing and cleaning, establishing the groundwork for robust BI tools. Concurrently,
                    advocated for data schema standardization and data quality improvements, resulting in enhanced operational efficiency,
                    and the ability for clients in the tourism sector to derive actionable insights from key tourism figures.</p>
                <p class="job-description">• Collaborated with NUS School of Medicine to develop a comprehensive, state-of-the-art dashboard tailored for
                    educators. This dashboard empowered educators to proactively predict and monitor students at risk of facing academic
                    challenges, fostering a supportive learning environment.</p>  
                <p class="job-description">• As a part of a consulting team, provided expert guidance to Sentosa Development Corporation on their CRM system,
                    data governance, and the seamless flow of data across systems. This established a robust foundation for future data-driven solutions and expanded use cases.</p>
                
                <br><br><br><br>


                <h3 class="job-title">Associate Data Scientist</h3>
                <h5 class="company">Singapore Tourism Board</h5>
                <h5 class="date">June 2020 - Feb 2021</h5>
                <p class="job-description">• Conducted sentiment analysis using NLP on web-scraped reviews to gain insights into tourist preferences, specifically
                    evaluating aspects such as dining, sightseeing, and local cuisine, to understand the perceived strengths and weaknesses
                    of Singapore in these areas.</p>
                <p class="job-description">• Spearheaded a differential privacy project aimed at enhancing the handling and analysis of sensitive data, with a primary
                    focus on promoting secure data collection and sharing not only within the organization but also with vendors and the
                    public.</p>
                <p class="job-description">• Implemented a genetic algorithm-based solution to the survey design optimization problem, resulting in the ability to
                    conduct shorter micro surveys. This led to higher response rates and increased willingness among tourists to participate in surveys, providing more valuable insights.</p>

                </accordion-group>
            <accordion-group heading="Education">
                <p class="education-item"><strong>National University of Singapore</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aug 2023 - Present<br>
                    Master of Science - Digital Financial Technology (Part time)
                </p>
                                
                <p class="education-item"><strong>National University of Singapore</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aug 2016 - Jun 2020<br>
                    Bachelor of Science(Hon) - Statistics Major
                </p>
            </accordion-group>
            <accordion-group heading="Skillset">
                <p class="skill-item">Python</p>
                <p class="skill-item">R</p>
                <p class="skill-item">SQL</p>
                <p class="skill-item">Julia</p>
                <p class="skill-item">Data Cleaning</p>
                <p class="skill-item">Feature Engineering</p>
                <p class="skill-item">Machine Learning</p>
                <p class="skill-item">Model Deployment</p>
                <p class="skill-item">Deep Learning</p>
                <p class="skill-item">LLM</p>
                <p class="skill-item">Data Visualization</p>
                <p class="skill-item">Front End Development</p>
                <p class="skill-item">GCP</p>
                <p class="skill-item">AWS</p>
                <p class="skill-item">Docker</p>
                <p class="skill-item">Statistical Modelling</p>
            </accordion-group>
            <accordion-group heading="Certifications">
                <p>I have a bunch of Coursera certificates but it doesn't feel that they are significant enough for showcasing</p>
            </accordion-group>
        </accordion>

    </div>
    
</div>
