<div class="container"> 
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1" style="border-radius: 15px;">
            <div class="text-center">
                <h2>About Me</h2>
                <div class="profile-picture"></div>
                <br>
                <p class="left-align">I am a seasoned data scientist with a strong commitment to delivering results through data-driven solutions. With a passion for statistical analysis and model building, I take pride in translating data points into insights that illuminate the trajectory towards business goals. Keeping up with the latest advancements in the field, I possess a well-rounded skill set in machine learning, data visualization, and programming, making me a valuable asset to any team.</p>
            </div>
        </div>
        <!-- Featured projects -->
        <div class="col-lg shadow border m-1" style="border-radius: 15px;">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featuredProject.name}}</h4>

                <carousel>
                    <div *ngFor="let picture of featuredProject.pictures">
                        <slide>
                            <img src = {{picture}} alt = "slide" style="display: block; width: 100%">
                        </slide>
                    </div>
            </carousel>
            <p class="mt-2">{{featuredProject.description}}</p>
            <p>Visit the Portfolio section to learn more!</p>
            </div>
        </div>
    </div>
</div>